/* Flex classes */
.u-flex {
    display: flex;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

/* definitions for Footer */
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}